.btn {
    max-width: max-content;
    background-color: transparent;
    @include text($color3, 600, 15px, 15px, 15px);
    font-family: "Mulish", sans-serif;
    padding: 16px 66px;
    border: 2px solid $color1;
}