@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Mulish', sans-serif;
    }
    h1 {
        font-family: 'Tenor Sans', sans-serif;
    }
    h2 {
        font-family: 'Tenor Sans', sans-serif;
    }
}

@layer components {
    .accordion-item.active > .accordion-content {
        @apply flex;
    }
    .accordion-item.active .accordion-img {
        @apply rotate-180;
    }
    .politics__item {
        @apply flex flex-col gap-[10px] text-whitegray;
    }
    .politics__title {
        @apply text-[20px] leading-[23px] sm:text-[34px] sm:leading-[39px];
    }
    .politics__text {
        @apply text-[14px] leading-[18px] sm:text-[18px] sm:leading-[25px];
    }
    .politics__ul {
        @apply text-[14px] leading-[18px] list-outside sm:text-[18px] sm:leading-[25px];
    }
    .politics__li {
        @apply text-[14px] leading-[18px] list-disc list-inside sm:text-[18px] sm:leading-[25px];
    }
}
