*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.15 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: #e5e7eb;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

body {
  font-family: 'Mulish', sans-serif;
}

h2 {
  font-family: 'Tenor Sans', sans-serif;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 100%) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 540px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 720px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1140px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1320px) {
  .container {
    max-width: 1320px;
  }
}

.accordion-item.active > .accordion-content {
  line-height: .75rem;
}

.accordion-item.active .accordion-img {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.pointer-events-none {
  pointer-events: none !important;
}

.absolute {
  position: absolute !important;
}

.relative {
  position: relative !important;
}

.bottom-0 {
  bottom: 0px !important;
}

.bottom-\[10px\] {
  bottom: 10px !important;
}

.right-\[-250px\] {
  right: -250px !important;
}

.top-\[10px\] {
  top: 10px !important;
}

.z-10 {
  z-index: 10 !important;
}

.mb-5 {
  margin-bottom: 1.25rem !important;
}

.mb-6 {
  margin-bottom: 1.5rem !important;
}

.mb-\[10px\] {
  margin-bottom: 10px !important;
}

.mb-\[144px\] {
  margin-bottom: 144px !important;
}

.mb-\[15px\] {
  margin-bottom: 15px !important;
}

.mb-\[24px\] {
  margin-bottom: 24px !important;
}

.mb-\[25px\] {
  margin-bottom: 25px !important;
}

.mb-\[30px\] {
  margin-bottom: 30px !important;
}

.mb-\[48px\] {
  margin-bottom: 48px !important;
}

.mb-\[50px\] {
  margin-bottom: 50px !important;
}

.mb-\[64px\] {
  margin-bottom: 64px !important;
}

.mb-\[6px\] {
  margin-bottom: 6px !important;
}

.mr-\[300px\] {
  margin-right: 300px !important;
}

.mt-\[30px\] {
  margin-top: 30px !important;
}

.flex {
  display: flex !important;
}

.grid {
  display: grid !important;
}

.hidden {
  display: none !important;
}

.h-\[121px\] {
  height: 121px !important;
}

.h-\[1px\] {
  height: 1px !important;
}

.h-\[220px\] {
  height: 220px !important;
}

.h-\[2px\] {
  height: 2px !important;
}

.h-\[80px\] {
  height: 80px !important;
}

.h-\[847px\] {
  height: 847px !important;
}

.h-auto {
  height: auto !important;
}

.h-full {
  height: 100% !important;
}

.w-1\/2 {
  width: 50% !important;
}

.w-1\/3 {
  width: 33.333333% !important;
}

.w-1\/4 {
  width: 25% !important;
}

.w-\[2px\] {
  width: 2px !important;
}

.w-\[746px\] {
  width: 746px !important;
}

.w-\[80px\] {
  width: 80px !important;
}

.w-full {
  width: 100% !important;
}

.max-w-\[748px\] {
  max-width: 748px !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.resize-none {
  resize: none !important;
}

.grid-flow-col {
  grid-auto-flow: column !important;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
}

.grid-cols-accordion-container {
  grid-template-columns: repeat(2, minmax(0, auto)) !important;
}

.grid-rows-accordion-items {
  grid-template-rows: repeat(4, minmax(0, auto)) !important;
}

.flex-col {
  flex-direction: column !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.items-end {
  align-items: flex-end !important;
}

.items-center {
  align-items: center !important;
}

.justify-end {
  justify-content: flex-end !important;
}

.justify-center {
  justify-content: center !important;
}

.justify-between {
  justify-content: space-between !important;
}

.gap-10 {
  gap: 2.5rem !important;
}

.gap-3 {
  gap: 0.75rem !important;
}

.gap-4 {
  gap: 1rem !important;
}

.gap-5 {
  gap: 1.25rem !important;
}

.gap-\[10px\] {
  gap: 10px !important;
}

.gap-\[20px\] {
  gap: 20px !important;
}

.gap-\[24px\] {
  gap: 24px !important;
}

.gap-\[30px\] {
  gap: 30px !important;
}

.gap-\[57px\] {
  gap: 57px !important;
}

.gap-\[84px\] {
  gap: 84px !important;
}

.gap-x-\[48px\] {
  -moz-column-gap: 48px !important;
       column-gap: 48px !important;
}

.gap-y-5 {
  row-gap: 1.25rem !important;
}

.gap-y-\[20px\] {
  row-gap: 20px !important;
}

.gap-x-\[\] {
  -moz-column-gap:  !important;
       column-gap:  !important;
}

.gap-x-\[30px\] {
  -moz-column-gap: 30px !important;
       column-gap: 30px !important;
}

.overflow-hidden {
  overflow: hidden !important;
}

.scroll-smooth {
  scroll-behavior: smooth !important;
}

.border-2 {
  border-width: 2px !important;
}

.border-\[1px\] {
  border-width: 1px !important;
}

.border-\[\#C5C6C7\] {
  --tw-border-opacity: 1 !important;
  border-color: rgb(197 198 199 / var(--tw-border-opacity, 1)) !important;
}

.border-copper {
  border-color: rgba(183, 151, 110, 1) !important;
}

.border-transparent {
  border-color: transparent !important;
}

.bg-\[\#12100F\] {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(18 16 15 / var(--tw-bg-opacity, 1)) !important;
}

.bg-\[\#FFFFFF33\] {
  background-color: #FFFFFF33 !important;
}

.bg-black\/55 {
  background-color: rgb(0 0 0 / 0.55) !important;
}

.bg-black\/80 {
  background-color: rgb(0 0 0 / 0.8) !important;
}

.bg-black\/90 {
  background-color: rgb(0 0 0 / 0.9) !important;
}

.bg-copper {
  background-color: rgba(183, 151, 110, 1) !important;
}

.bg-defaultBackground {
  background-color: rgba(18, 16, 15, 1) !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-white\/10 {
  background-color: rgb(255 255 255 / 0.1) !important;
}

.bg-white\/20 {
  background-color: rgb(255 255 255 / 0.2) !important;
}

.bg-city-property {
  background-image: url("../assets/img/city-property.jpg") !important;
}

.bg-contacts-form {
  background-image: url("../assets/img/contacts-form.jpg") !important;
}

.bg-country-houses {
  background-image: url("../assets/img/country-houses.jpg") !important;
}

.bg-gradient-to-r {
  background-image: linear-gradient(to right, var(--tw-gradient-stops)) !important;
}

.bg-legal-services {
  background-image: url("../assets/img/legal-services.jpg") !important;
}

.bg-our-projects {
  background-image: url("../assets/img/our-projects.jpg") !important;
}

.bg-parallax-background {
  background-image: url("../assets/img/parallax-background.jpg") !important;
}

.bg-partner-background {
  background-image: url("../assets/img/partner-background.jpg") !important;
}

.bg-partner-gradient-horizontal {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.64) 50%, rgba(0,0,0,1) 100%) !important;
}

.bg-partner-gradient-vertical {
  background-image: linear-gradient(180deg, rgba(18,16,15,0) 0%, rgba(18,16,15,0.5) 100%) !important;
}

.bg-submit-application {
  background-image: url("../assets/img/submit-application.jpg") !important;
}

.bg-zharkova {
  background-image: url("../assets/img/zharkova.png") !important;
}

.bg-alabino-gradient-horizontal {
  background-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.48) 50%, rgba(0,0,0,0.74) 100%) !important;
}

.from-\[\#00000000\] {
  --tw-gradient-from: #00000000 var(--tw-gradient-from-position) !important;
  --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position) !important;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.bg-cover {
  background-size: cover !important;
}

.bg-fixed {
  background-attachment: fixed !important;
}

.bg-center {
  background-position: center !important;
}

.bg-no-repeat {
  background-repeat: no-repeat !important;
}

.px-3 {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
}

.px-5 {
  padding-left: 1.25rem !important;
  padding-right: 1.25rem !important;
}

.px-\[113px\] {
  padding-left: 113px !important;
  padding-right: 113px !important;
}

.px-\[24px\] {
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.px-\[25px\] {
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.px-\[66px\] {
  padding-left: 66px !important;
  padding-right: 66px !important;
}

.py-\[128px\] {
  padding-top: 128px !important;
  padding-bottom: 128px !important;
}

.py-\[16px\] {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.py-\[18px\] {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}

.py-\[219px\] {
  padding-top: 219px !important;
  padding-bottom: 219px !important;
}

.py-\[33px\] {
  padding-top: 33px !important;
  padding-bottom: 33px !important;
}

.py-\[47px\] {
  padding-top: 47px !important;
  padding-bottom: 47px !important;
}

.py-\[64px\] {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.py-\[65px\] {
  padding-top: 65px !important;
  padding-bottom: 65px !important;
}

.py-\[\] {
  padding-top:  !important;
  padding-bottom:  !important;
}

.px-\[300px\] {
  padding-left: 300px !important;
  padding-right: 300px !important;
}

.pb-\[128px\] {
  padding-bottom: 128px !important;
}

.pb-\[64px\] {
  padding-bottom: 64px !important;
}

.pl-\[24px\] {
  padding-left: 24px !important;
}

.pr-3 {
  padding-right: 0.75rem !important;
}

.pr-\[18px\] {
  padding-right: 18px !important;
}

.pt-\[128px\] {
  padding-top: 128px !important;
}

.pt-\[64px\] {
  padding-top: 64px !important;
}

.pt-\[84px\] {
  padding-top: 84px !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-\[12px\] {
  font-size: 12px !important;
}

.text-\[14px\] {
  font-size: 14px !important;
}

.text-\[15px\] {
  font-size: 15px !important;
}

.text-\[16px\] {
  font-size: 16px !important;
}

.text-\[18px\] {
  font-size: 18px !important;
}

.text-\[20px\] {
  font-size: 20px !important;
}

.text-\[28px\] {
  font-size: 28px !important;
}

.text-\[34px\] {
  font-size: 34px !important;
}

.text-\[48px\] {
  font-size: 48px !important;
}

.font-normal {
  font-weight: 400 !important;
}

.font-semibold {
  font-weight: 600 !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.leading-10 {
  line-height: 2.5rem !important;
}

.leading-\[15px\] {
  line-height: 15px !important;
}

.leading-\[17px\] {
  line-height: 17px !important;
}

.leading-\[18px\] {
  line-height: 18px !important;
}

.leading-\[20px\] {
  line-height: 20px !important;
}

.leading-\[23px\] {
  line-height: 23px !important;
}

.leading-\[25px\] {
  line-height: 25px !important;
}

.leading-\[32px\] {
  line-height: 32px !important;
}

.leading-\[39px\] {
  line-height: 39px !important;
}

.leading-\[56px\] {
  line-height: 56px !important;
}

.text-copper {
  color: rgba(183, 151, 110, 1) !important;
}

.text-white {
  --tw-text-opacity: 1 !important;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1)) !important;
}

.text-whitegray {
  color: rgba(197, 198, 199, 1) !important;
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter !important;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.transition-all {
  transition-property: all !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1) !important;
  transition-duration: 150ms !important;
}

.duration-300 {
  transition-duration: 300ms !important;
}

.duration-500 {
  transition-duration: 500ms !important;
}

.before\:pointer-events-none::before {
  content: var(--tw-content) !important;
  pointer-events: none !important;
}

.before\:absolute::before {
  content: var(--tw-content) !important;
  position: absolute !important;
}

.before\:left-0::before {
  content: var(--tw-content) !important;
  left: 0px !important;
}

.before\:top-0::before {
  content: var(--tw-content) !important;
  top: 0px !important;
}

.before\:z-10::before {
  content: var(--tw-content) !important;
  z-index: 10 !important;
}

.before\:ml-\[10px\]::before {
  content: var(--tw-content) !important;
  margin-left: 10px !important;
}

.before\:h-full::before {
  content: var(--tw-content) !important;
  height: 100% !important;
}

.before\:w-\[2px\]::before {
  content: var(--tw-content) !important;
  width: 2px !important;
}

.before\:bg-white\/20::before {
  content: var(--tw-content) !important;
  background-color: rgb(255 255 255 / 0.2) !important;
}

.before\:content-\[\'\'\]::before {
  --tw-content: '' !important;
  content: var(--tw-content) !important;
}

.after\:pointer-events-none::after {
  content: var(--tw-content) !important;
  pointer-events: none !important;
}

.after\:absolute::after {
  content: var(--tw-content) !important;
  position: absolute !important;
}

.after\:right-0::after {
  content: var(--tw-content) !important;
  right: 0px !important;
}

.after\:top-0::after {
  content: var(--tw-content) !important;
  top: 0px !important;
}

.after\:mr-\[10px\]::after {
  content: var(--tw-content) !important;
  margin-right: 10px !important;
}

.after\:h-full::after {
  content: var(--tw-content) !important;
  height: 100% !important;
}

.after\:w-\[2px\]::after {
  content: var(--tw-content) !important;
  width: 2px !important;
}

.after\:bg-white\/20::after {
  content: var(--tw-content) !important;
  background-color: rgb(255 255 255 / 0.2) !important;
}

.after\:content-\[\'\'\]::after {
  --tw-content: '' !important;
  content: var(--tw-content) !important;
}

.hover\:scale-110:hover {
  --tw-scale-x: 1.1 !important;
  --tw-scale-y: 1.1 !important;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important;
}

.hover\:border-copper:hover {
  border-color: rgba(183, 151, 110, 1) !important;
}

.hover\:bg-copper:hover {
  background-color: rgba(183, 151, 110, 1) !important;
}

.hover\:text-copper:hover {
  color: rgba(183, 151, 110, 1) !important;
}

.hover\:no-underline:hover {
  text-decoration-line: none !important;
}

.focus\:bg-transparent:focus {
  background-color: transparent !important;
}

.focus\:outline-none:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
}

.focus-visible\:border-copper:focus-visible {
  border-color: rgba(183, 151, 110, 1) !important;
}

.group:hover .group-hover\:bg-black\/30 {
  background-color: rgb(0 0 0 / 0.3) !important;
}

@media (min-width: 576px) {
  .sm\:w-1\/2 {
    width: 50% !important;
  }

  .sm\:px-\[30px\] {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  .sm\:text-\[15px\] {
    font-size: 15px !important;
  }

  .sm\:text-\[20px\] {
    font-size: 20px !important;
  }

  .sm\:text-\[34px\] {
    font-size: 34px !important;
  }

  .sm\:leading-\[18px\] {
    line-height: 18px !important;
  }

  .sm\:leading-\[25px\] {
    line-height: 25px !important;
  }

  .sm\:leading-\[39px\] {
    line-height: 39px !important;
  }
}

@media (min-width: 768px) {
  .md\:h-\[110px\] {
    height: 110px !important;
  }

  .md\:w-\[110px\] {
    width: 110px !important;
  }

  .md\:px-\[47px\] {
    padding-left: 47px !important;
    padding-right: 47px !important;
  }

  .md\:text-\[28px\] {
    font-size: 28px !important;
  }

  .md\:leading-\[33px\] {
    line-height: 33px !important;
  }
}

@media (min-width: 992px) {
  .lg\:px-\[100px\] {
    padding-left: 100px !important;
    padding-right: 100px !important;
  }
}

@media (min-width: 1200px) {
  .xl\:w-1\/4 {
    width: 25% !important;
  }

  .xl\:px-\[35px\] {
    padding-left: 35px !important;
    padding-right: 35px !important;
  }

  .xl\:py-\[120px\] {
    padding-top: 120px !important;
    padding-bottom: 120px !important;
  }
}

@media (min-width: 1400px) {
  .\32xl\:bottom-\[20px\] {
    bottom: 20px !important;
  }

  .\32xl\:top-\[20px\] {
    top: 20px !important;
  }

  .\32xl\:m-10 {
    margin: 2.5rem !important;
  }

  .\32xl\:h-\[138px\] {
    height: 138px !important;
  }

  .\32xl\:w-\[138px\] {
    width: 138px !important;
  }

  .\32xl\:px-\[90px\] {
    padding-left: 90px !important;
    padding-right: 90px !important;
  }

  .\32xl\:py-\[162px\] {
    padding-top: 162px !important;
    padding-bottom: 162px !important;
  }

  .\32xl\:before\:ml-\[20px\]::before {
    content: var(--tw-content) !important;
    margin-left: 20px !important;
  }

  .\32xl\:after\:mr-\[20px\]::after {
    content: var(--tw-content) !important;
    margin-right: 20px !important;
  }
}
